services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: example
    volumes:
      - "postgres-db:/var/lib/postgresql"
  radvent:
    image: haru/radvent:latest
    build: .
    ports:
      - "3000:3000"
    volumes:
      - "radvent-data:/var/radvent_data"
      - "./log:/usr/local/radvent/log"
    links:
      - postgres:radvent_postgres
    environment:
      DB: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: example
      DB_HOST: radvent_postgres
      DB_CREATE_ON_START: "true"
      RAILS_SERVE_STATIC_FILES: "true"
      #RAILS_RELATIVE_URL_ROOT: "/test"
  # mysql:
  #   image: mysql
  #   environment:
  #     MYSQL_ROOT_PASSWORD: example
  #   volumes:
  #     - "$PWD/docker/mysql:/var/lib/mysql"
  #   ports:
  #     - "3306:3306"
volumes:
  postgres-db:
    driver: local
  radvent-data:
    driver: local
