%nav.container.mt-2{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to t('breadcrumb.top'), root_path
    %li.breadcrumb-item.active{"aria-current" => "page"}= board.name
