%div.advent-calendar-breadcrumb
  %div.container
    #{t "views.items.preview.header_preview"}
= render "content", item: @item, advent_calendar_item_prev: nil, advent_calendar_item_next: nil
%div.container.comments
  %div.comment-title #{t "activerecord.models.comment"}
  %hr

:coffee
    parseBody = ->
      $('#item-show').html(marked(text))
      $('#item-show').find('pre code').each (i, block) ->
        hljs.highlightBlock(block)
    parseBody() if $('#item-show')[0]
    parseText $('#item-text').val() if $('#item-text').val()