/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";
@import "rails_bootstrap_forms";
@import "devise_bootstrap_views";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "bootstrap-material-design";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap/glyphicons';

:root {
    --main-txt-color: #333;
    --main-bg-color: #f7f7f7;
    --header-txt-color: #fff;
    --header-bg-color: #B81C22;
    --calendar-date-txt-color: #999;
    --calendar-date-bg-color: #eee;
    --top-menu-bg-color: #00693E;
}
  
  @media (prefers-color-scheme: dark) {
    :root {
        --main-txt-color: #fff;
        --main-bg-color: #1F262A;
        --header-txt-color: #fff;
        --header-bg-color: #2A3439;
        --calendar-date-txt-color: #fff;
        --calendar-date-bg-color: #5b676d;
        --top-menu-bg-color: #375a7f;
    }
    .event-card{
        $border_color: #848689;
         .card-header, .card-body, .card-footer {
            color: var(--main-txt-color);
            background-color: #2A3439;
         }
         .card-header {
             border-bottom-color: $border_color;
         }
         .card-footer {
             border-top-color: $border_color;
         }
    }

    .table thead th {
        color: var(--main-txt-color);
    }
  }

@import "partials/*";
	
 

body {
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
}

.advent-calendar-breadcrumb {
    background: #00532E;
    padding: .7em 0;
    color: #18bc9c;
    color: #fff;
    a {
        color: #fff;
    }
}

.alert-info {
    background-color: #00693E;
}

.navbar-light {
    .navbar-toggler{
        border-color: #ffffff;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }     
    }
}
