name: build-container
on:
  push:
    branches-ignore:
      - '**'
    tags:
      - '**'
  workflow_dispatch:
permissions:
  contents: read
env:
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
jobs:
  build:
    strategy:
      matrix:
        include:
          - runs-on: ubuntu-latest
            suffix: amd64
          - runs-on: ubuntu-24.04-arm
            suffix: arm64
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Set version
        id: version
        run: |
          VERSION=$(echo "${{ github.ref_name }}" | sed 's/\//-/g')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push platform image
        env:
          RADVENT_VERSION: latest-${{ matrix.suffix }}
        run: |
          docker compose build radvent
          docker compose push radvent
          docker tag haru/radvent:latest-${{ matrix.suffix }} haru/radvent:${{ steps.version.outputs.version }}-${{ matrix.suffix }}
          docker push haru/radvent:${{ steps.version.outputs.version }}-${{ matrix.suffix }}

  manifest:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Set version
        id: version
        run: |
          VERSION=$(echo "${{ github.ref_name }}" | sed 's/\//-/g')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Create and push multi-arch manifest
        run: |
          docker manifest create ${{ github.repository }}:latest \
            ${{ github.repository }}:latest-amd64 \
            ${{ github.repository }}:latest-arm64
          docker manifest push ${{ github.repository }}:latest
          docker manifest create ${{ github.repository }}:${{ steps.version.outputs.version }} \
            ${{ github.repository }}:${{ steps.version.outputs.version }}-amd64 \
            ${{ github.repository }}:${{ steps.version.outputs.version }}-arm64
          docker manifest push ${{ github.repository }}:${{ steps.version.outputs.version }}
