- content_for(:content) do
  %div.container
    %ul#admin-menu.nav.nav-tabs
      %li.nav-item{role: "presentation", class: @menu == :events ? 'nav-link active': 'nav-link'}
        = link_to t('views.event.list.title'), events_list_path
      %li.nav-item{role: "presentation", class: @menu == :users ? 'nav-link active': 'nav-link'}
        = link_to t('views.user.index.title'), users_path

  %div.container
    %div.card
      %div.card-body= yield

= render template: 'layouts/application'